:root {
    --brown: #615756;
    --dark-brown: #231E1E;
    --mid-brown: #908382;
    --light-brown: #BFB1B0;
    --light-green: #D1D7C8;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1em;
}

h3 {
    font-size: 0.75em
}

a {
    text-decoration: none;
    color: black;
}
    
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}
.top-header {
    background-color: var(--brown);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    gap: 10px;
}

.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.header-img {
    border-left: 1px solid var(--white);
    padding-right: 10px;
}
.profile-image {
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
}

.bell-logo {
  display: flex;
  width: 50px;
  fill: var(--white);
  padding-right: 10px;
}

.bell-logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.notification {
    background-color: lime;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.icons {
    background-color: var(--dark-brown);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}
.icons a {
    width: 25px;
    height: 25px;
    fill:  var(--white);
    cursor: pointer;
}

.dashboard {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    height: 70px;
    width: 100%;
}
.headline {
    padding: 0 10px;
    width: 40%
}

.tab {
    background: var(--light-green);
    border-left: 2px solid var(--mid-brown);
    border-bottom: 2px solid var(--mid-brown);
    border-bottom-left-radius: 5px;
    height: 70px;
    width: 60%;
    }
.traffic,
.daily-traffic,
.mobile-users,
.social,
.new-members,
.members-activity,
.message,
.settings {
   padding: 10px;
   border-bottom: 2px solid var(--mid-brown);
}
.traffic-header h3,
.daily-traffic h3,
.mobile-users h3,
.social h3,
.new-members h3,
.members-activity h3,
.message h3,
.settings h3 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 0;
}
.traffic-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.traffic-graph {
    width: 90vw;
}

.bar-graph-traffic,
.doughnut-graph-mobile {
    width: 40vw;
}

.social-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border: 2px solid var(--mid-brown);
    border-radius: 5px;
    padding: 10px;
    background: var(--light-green);
    margin-bottom: 10px;
}
.social-text {
    color: var(--brown);
}
.followers {
    font-size: 1.5em;
}
.social-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--brown);
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    background-color: var(--brown);
    fill: var(--white);
}
.social-text {
    padding-left: 10px;
}


.members-container,
.members-text,
.members-container,
.members-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members-container {
    border-bottom: 1px solid var(--mid-brown);
    line-height: 1.5em;
    padding-bottom: 10px;
    margin: 20px;
}

.members-container a {
    color: var(--brown);
    font-weight: bold;
}

.widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.widget-container input,
.widget-container textarea,
#send,
.form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--mid-brown);
    border-radius: 5px;
    background-color: var(--light-green);
}
.widget-container input::placeholder,
.widget-container textarea::placeholder {
    color: var(--brown);
}
#send {
    color: var(--white);
    background-color: var(--brown);
}

.settings-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
}

#save {
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    padding: 20px;
    color: white;
    background-color: var(--brown);
    border: 1px solid var(--mid-brown);
    border-radius: 5px;
}
#cancel {
    align-items: center;
    justify-content: flex-end;
    width: 45%; 
    color: white;
    background-color: var(--light-brown);
    border: 1px solid var(--mid-brown);
    border-radius: 5px;
}
.settings-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.toggle-on-off input {
    -webkit-appearance: none;
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    background-color: var(--light-brown);
    border: 2px solid var(--mid-brown);
    transition: background .3s;
    outline: none;
    cursor: pointer;
}
.toggle-on-off input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--white);
    border: 2px solid var(--mid-brown);
    transition: left .3s;
}

.toggle-on-off input:checked {
    background-color: var(--brown);
}

.toggle-on-off input:checked::after {
    left: 80%;
}

.toggle-on-off input::before {
    content: "off";
    position: absolute;
    right: 10%;
    top: 18%;
    color: var(--white);
  }
  
  .toggle-on-off input:checked::before {
    content: "on";
    position: absolute;
    left: 5%;
    top: 15%;
    color: var(--white);
  }
  .toggle-on-off {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .alert-banner {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--brown);
    color: var(--white);
    margin: 20px;
    border-radius: 10px;
}

.alert-banner-close {
    cursor: pointer;
}

.arrow {
    display: none;
}

  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 70px 1fr;
      grid-template-areas:
        "header header"
        "nav main";
    }
  
    main {
      display: grid;
      grid-template-columns: 50%;
     }
 
    .daily-traffic {
        grid-column: 1 / span 1;
      }
      
    .mobile-users {
        grid-column: 2 / span 1;
      }

     #alert,
    .dashboard,
    .traffic,
    .social,
    .new-members,
    .members-activity,
    .message,
    .settings {
      grid-column: 1 / span 2;
    }

   .header-text {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 30px;
   }
    .icons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* .dashboard {
        font-size: 1.5em;
        justify-content: center;
    } */

    .headline {
        width: 20%;
    }

    .tab {
        width: 80%;
    }

    .daily-traffic {
        border-right: 2px solid var(--mid-brown);
    }
    .social {
        width: 100%;
    }
    .social-stats {
        display: inline-flex;
        justify-content: center;
        width: 32.9%;
    }

    .members-container {
        flex-direction: row;
    }
    
    .members-text {
        align-items: flex-start;
        width: 100%;
    }
    .members-container img {
        margin-right: 20px;
    }

    .arrow {
        display: inline;
    }
}

    @media (min-width: 1024px) {

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        .new-members,
        .message {
            grid-column: 1 / span 1;
            border-right: 2px solid var(--mid-brown);
        }

        .members-activity,
        .settings {
            grid-column: 2 / span 1;
        }
        .form-area {
            height: 115px;
        }
        #save,
        #cancel,
        #send {
            height: 50px;
        }
    }
